main {
  width: 100%; /* Ensure main takes the full width */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* header, .main-section {
  margin: 0;
  padding: 0;
} */

.background-container {
  position: relative;
  background-color: #ED4D00;
}