.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  width:98dvw;
  margin-inline: auto;
  overflow-x: hidden;
}

#review-list {
  width: 100%;
}

#review-list ul {
  width: 100%;
  padding:0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

#review-list img {
  width: 100%;
  height: auto;
}

#review-list li {

  width: 28%;
  background-color: hsl(0, 0%, 80%);
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.4rem;

}

#review-list button {

  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid hsl(0, 50%, 45%);
  background-color: hsl(0, 83%, 60%);
}

#review-list button:hover {
  background-color: hsl(0, 83%, 50%);
}

#review-list button:focus {
  background-color: hsl(0, 80%, 45%);
}

#review-list {
  display:flex;
}

#comment-list {
  width: 100%;
}

#comment-list ul {
  width: 100%;
  padding:0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

#comment-list li {

  width: 28%;
  background-color: hsl(0, 100%, 56%);
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.4rem;

}

#comment-list {
  display:flex;
}









.error-text {
  font-size: 0.8rem;
  color: hsl(14, 96%, 36%);
}

.error-field {
  border: 1px solid hsl(14, 96%, 36%);
}

