.comment-card {
  border-width: 0.5px;
  border-radius: 10px;
  padding-bottom: 1vh;
  padding-left: 2vw;
  padding-right: 1vw;
  padding-top: 0.5vh;
  background: linear-gradient(to bottom, #ff3231, #b02319);
  color: white;
}

.comment-author {
  font-weight: bold;
  text-decoration: underline;
}

#comment-info {
  font-style: italic;
}
