@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:is(.dark *));


@theme {
  --color-brandDark: #0C0703;
  --color-brandText: #F0E9E3;
  --color-brandPrimary: #FF7B00;
  --color-brandSecondary: #3E3B2C;
  --color-brandAccent: #C9C2BA;

  --color-brandLight: #FCF7F3;
  --color-brandLightText: #1B140E;
  --color-brandLightSecondary: #D2CDC8;
  --color-brandLightAccent: #453E36;
}















html, body, #root {
  height: 100%;
  width: 100%;
}